@model sinal.Areas.Indicadores.Models.CategoriaDerecho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoriaDerecho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vigente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vigente)
        </dd>

    </dl>
</div>
<h1>Indicadores asociados</h1>
@foreach (var item in Model.Indicador)
{
    @item.Nombre
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoriaDerechoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
